# Intro to series

In [22]:
import pandas as pd

# Series from list
series1 = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])

# Series from dictionary
series2 = pd.Series({
    'a': 1, 
    'b': 2, 
    'c': 3,
    'd': 4,
    'e': 5
})

In [15]:
print(series1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
print(series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Series Operations

In [23]:
# indexing: accessing values using index
print(series1['a']) # access single element
print(series1[['a', 'c']]) # accessing multiple elements

1
a    1
c    3
dtype: int64

In [25]:
# Slicing: accessing subset values (range-based)
print(series1['b': 'd']) # slice by label
print(series1[1:3]) # slice by position

b    2
c    3
d    4
dtype: int64
b    2
c    3
dtype: int64

In [31]:
# Filtering: Selecting values based on conditions
print(series1 > 3) # compare each element return boolean values for each
print(series1[series1 > 3]) # filter values greater than 3

a    False
b    False
c    False
d     True
e     True
dtype: bool
d    4
e    5
dtype: int64

In [35]:
# Sorting: sort values in ascending & descending order
print(series1.sort_index(ascending=False)) # sort by index
print(series1.sort_values(ascending=False)) # sort by value

e    5
d    4
c    3
b    2
a    1
dtype: int64
e    5
d    4
c    3
b    2
a    1
dtype: int64

In [29]:
# Mathematical Operations
print(series1 + 2) # Add 2 to each element
print(series1 * 3) # Multiply each by element by 3
print(series1 ** 2) # square each element

a    3
b    4
c    5
d    6
e    7
dtype: int64
a     3
b     6
c     9
d    12
e    15
dtype: int64
a     1
b     4
c     9
d    16
e    25
dtype: int64

In [26]:
# Aggregation Operations
print(f"Sum: {series1.sum()}")
print(f"Mean: {series1.mean()}")
print(f"Max: {series1.max()}")
print(f"Min: {series1.min()}")

Sum: 15
Mean: 3.0
Max: 5
Min: 1

In [45]:
# Check for null/missing values
print(series1.isnull()) # iterate through series & check for null values
new_series = pd.Series(series1.isnull()) # create new series with boolean type values
print(new_series) 
print(series1.isnull().any()) # return single boolean value if list contains any null value?
print(series1.isnull().sum()) # sum of null values

# List with null values
print("\nList with Null values")
series_with_null = pd.Series([1, None, 3, None, 5])
print("Has null value: ", series_with_null.isnull().any())
print("Count of null values: ", series_with_null.isnull().sum())

a    False
b    False
c    False
d    False
e    False
dtype: bool
a    False
b    False
c    False
d    False
e    False
dtype: bool
False
0

List with Null values
Has null value:  True
Count of null values:  2

In [42]:
# Apply custom functions
print(series1.apply(lambda x: x * 2))

a     2
b     4
c     6
d     8
e    10
dtype: int64

## Series Methods

In [17]:
# head(): returns first few values
print(series1.head())

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
# tail(): return last few values
print(series1.tail())

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [19]:
# info(): display information about series
print(series1.info())

<class 'pandas.core.series.Series'>
Index: 5 entries, a to e
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 252.0+ bytes
None

In [20]:
# describe(): summary statistics about the series
print(series1.describe())

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [21]:
# values_count(): returns counts of unique values
print(series1.value_counts())

1    1
2    1
3    1
4    1
5    1
Name: count, dtype: int64